<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.url }}/"
    }{% if breadcrumbItems %},
    {% for crumb in breadcrumbItems %}
    {
      "@type": "ListItem",
      "position": {{ loop.index + 1 }},
      "name": {{ crumb.name | json }},
      "item": "{{ site.url }}{{ crumb.url }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
    {% endif %}
  ]
}
</script>
